---
layout: default
---
{% for topic in site.topics %}
<h3><a href="{{ baseurl }}/topic/{{ topic }}.html">{{ topic | capitalize }}</a></h3>
<hr width="200">
<div class="topic">
	{% assign topicPosts =  site.categories[topic].size %}
	{% for post in site.categories[topic] %}
		{% if forloop.index == 4 %}
			{% if topicPosts > 4 %}
				<div class="latest-article">
					<a class ="seeMore" href="{{ baseurl }}/topic/{{ topic }}.html">See more<a>
				</div>
				{% break %}
			{% endif %}
		{% endif %}
  	<div class="latest-article">
	 	 <a href="{{ post.url | relative_url }}">
			<img src="{{site.url}}/assets/img/{{ post.image }}"></img><br>
			<p>{{ post.title | escape }}</p></a>
		</div>
	{% endfor %}
</div>
{% endfor %}
