---
layout: default
---
{% for topic in site.topics %}
<h3><a href="{{ baseurl }}/topic/{{ topic }}.html">{{ topic | capitalize }}</a></h3>
<hr width="200">
<div class="topic">
	{% assign topicPosts =  site.categories[topic].size %}
	{% for post in site.categories[topic] %}
		{% if forloop.index == 5 %}
			{% if topicPosts > 10 %}
					<a class ="seeMore" href="{{ baseurl }}/topic/{{ topic }}.html"><img src="{{site.url}}/assets/img/{{ post.image }}"></img><a>

			{% endif %}
			{% break %}
		{% endif %}
	 	<a href="{{ post.url | relative_url }}">
			<img src="{{site.url}}/assets/img/{{ post.image }}"></img>
		<p>{{ post.title | escape | truncate: 29, '...' }}</p></a>
	{% endfor %}
</div>
{% endfor %}
