@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
body {
  font-family: 'Josefin Slab', serif;
  background-color: #eee2d2;
  margin-top: 60px;
}

.toolbar {
  z-index: 1;
  top: 0;
  left: 0;
  margin: 0 auto;
  font-size: 25px;
  font-weight: bold;
  position: fixed;
  text-align: center;
  width: 100%;
  box-shadow: 0px 0px 10px #373737;
}

.toolbar img {
  margin: -12px 8px 0 0;
  height: 54px;
  width: 54px;
  background-color: inherit;
  float: left;
}

.toolbar p {
  font-size: 35px;
  float: left;
  color: #EAC9A0;
  margin: -3px -200% 0 5px;
}

.toolbar ul {
  list-style-type: none;
  margin: 0 auto;
  background-color: #303F4B;
  padding: 20px 0px 20px;
}

.toolbar ul li {
  display: inline;
}

.toolbar ul li a {
  padding: 20px 5% 20px;
  border-left: 2px solid #4C5C72;
}

.toolbar ul li:last-child a {
  border-right: 2px solid #4C5C72;
}

.toolbar a {
  text-decoration: none;
  color: #d1d0f2;
  width: 100%;
  height: 100%;
}

.toolbar ul li a:hover {
  background-color: #303a47;
  transition: .5s;
}

.page {
  z-index: -2;
  font-size: 22px;
  font-weight: 600;
  margin: 0px 15% 20px;
  color: #373737;
  text-align: center;
  background-color: #EAC9A0;
  box-shadow: 0px 0px 10px #373737;
  padding: 20px;
}

.page a {
  text-decoration: none;
  font-style: italic;
  color: inherit;
}

.page p {
  padding: 0px 40px 0px;
  line-height: 1.5;
  font-size: 22px;
  text-align: left;
}
.post-title {
  font-size: 70px;
  line-height: 1.1;
  text-align: center;
  z-index: -1;
  margin: 15px 30px;
}

.post-date {
  font-size: 23px;
  text-align: left;
}

h1 {
  font-weight: bold;
  font-size: 75px;
  margin: 0 auto;
}

h2 {
  margin: 0 auto;
  font-weight: normal;
  font-style: italic;
  font-size: 40px;
}
h3 {
  font-size: 30px;
  margin: 0 auto;
}
h4 {
  font-size: 25px;
  margin: 0 auto;
}
hr {
  border-top: 1px solid #373737;
  width: 200px;
}
.titleBlock {
  padding: 40px 0;
}

.post-content {
  line-height: 30px;
}

.home ul {
  list-style-type: none;
  margin-left: -40px;
}
.post-preview {
  margin: 0px 30px;
  padding: 0 0 10px;
}
.post-preview p {
  padding: 0px 40px 0px;
  text-align: left;
  margin: -10px 0 20px;
  line-height: 30px;
  font-size: 22px;
}
.post-preview img {
  object-fit: cover;
  height: 450px;
  width: 100%;
  filter: brightness(30%);
}
.blogImage {
  position: relative;
  padding-bottom: 20px;
}
.blogImage .post-link {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bolder;
  color: #d1d0f2;
  text-shadow: 5px 5px 4px black;
  transform: translate(-50%, -50%);
  font-size: 55px;
}
.topic {
  display: flex;
  flex-flow: row;
  margin: 5px 5px;
  height: 9em;
  margin-bottom: 2em;
  justify-content: space-between;
}
.topic a {
  display: flex;
  float: left;
  position: relative;
  width: 24%;
  height: 100%;
  margin: 0;
}
.topic a p {
  float: left;
  overflow-wrap: break-word;
  position: absolute;
  top: 72%;
  left: -18%;
  text-decoration: underline;
}
.topic a img {
  width: 100%;
  height: 80%;
  filter: brightness(30%);
}

a.seeMore img {
  position: absolute;
  top: 25%;
  left: 20%;
  width: 50%;
  height: 40%;
}
a.seeMore p{
  position: absolute;
  top: 0%;
  left: 5%;
  text-decoration: none;
}
