---
layout: default
---

<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>

    <h4>
      {% for topic in page.categories %}
      <a href="{{ baseurl }}/personal-blog/topic/{{ topic }}.html">
        {{ topic }}</a
      >
      <!-- logic for making sure "//" only prints between categories-->
      {% if page.categories.size > 1 %} {% unless forloop.index ==
      page.categories.size %} // {% endunless %} {% endif %} {% endfor %}
    </h4>
  </header>
  <hr noshade />
  <div class="post-content">
    <div class="post-date">
      {{ page.date | date_to_long_string }} • {{ page.author }}
    </div>
    {{ content }}
  </div>
  ***
</article>
